In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vgsales.csv')

# Which company is the most common video game publisher?

In [18]:
 df.Publisher.mode()

0    Electronic Arts
dtype: object

In [19]:
df.Platform.mode()

0    DS
dtype: object

# What’s the most common platform?

In [20]:
df.Platform.mode()

0    DS
dtype: object

# What about the most common genre?

In [21]:
df.Genre.mode()

0    Action
dtype: object

# What are the top 20 highest grossing games?

In [25]:
df.sort_values('Global_Sales', ascending= False)['Name'].head(21)

0                                       Wii Sports
1                                Super Mario Bros.
2                                   Mario Kart Wii
3                                Wii Sports Resort
4                         Pokemon Red/Pokemon Blue
5                                           Tetris
6                            New Super Mario Bros.
7                                         Wii Play
8                        New Super Mario Bros. Wii
9                                        Duck Hunt
10                                      Nintendogs
11                                   Mario Kart DS
12                     Pokemon Gold/Pokemon Silver
13                                         Wii Fit
14                                    Wii Fit Plus
15                              Kinect Adventures!
16                              Grand Theft Auto V
17                   Grand Theft Auto: San Andreas
18                               Super Mario World
19    Brain Age: Train Your Brain in Minutes a Day
20                   Pokemon Diamond/Pokemon Pearl
Name: Name, dtype: object

# For North American video game sales, what’s the median?

In [32]:
df[['NA_Sales']].median()

NA_Sales    0.08
dtype: float64

# Provide a secondary output showing ‘about’ ten games surrounding the median sales output

In [5]:
df[df['NA_Sales'].between(.8 , .8)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
409,410,Assassin's Creed Syndicate,PS4,2015.0,Action,Ubisoft,0.8,1.92,0.06,0.50,3.28
938,940,Pinball,NES,1984.0,Action,Nintendo,0.8,0.19,0.83,0.03,1.85
1039,1041,Star Ocean: Till The End of Time,PS2,2003.0,Role-Playing,Ubisoft,0.8,0.21,0.55,0.15,1.72
1071,1073,Call of Duty Black Ops: Declassified,PSV,2012.0,Action,Activision,0.8,0.52,0.07,0.30,1.69
1113,1115,Kirby & the Amazing Mirror,GBA,2004.0,Platform,Nintendo,0.8,0.05,0.76,0.03,1.64
1118,1120,Tiger Woods PGA Tour 2003,PS2,2002.0,Sports,Electronic Arts,0.8,0.63,0.00,0.21,1.64
1134,1136,Tony Hawk's American Wasteland (Old all region...,PS2,2005.0,Sports,Activision,0.8,0.63,0.01,0.19,1.62
1139,1141,Pokemon Battle Revolution,Wii,2006.0,Role-Playing,Nintendo,0.8,0.38,0.30,0.13,1.61
1203,1205,Star Wars: The Force Unleashed II,PS3,2010.0,Action,LucasArts,0.8,0.53,0.00,0.22,1.55
1345,1347,Frogger 2: Swampy's Revenge,PS,1999.0,Action,Hasbro Interactive,0.8,0.54,0.00,0.09,1.43
1355,1357,UFC Undisputed 2010,PS3,2010.0,Fighting,THQ,0.8,0.41,0.02,0.19,1.42
1409,1411,Gardening Mama,DS,2009.0,Puzzle,505 Games,0.8,0.43,0.01,0.13,1.38
2174,2176,World Championship Poker,PS2,2004.0,Misc,Play It,0.8,0.03,0.00,0.13,0.95

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?¶

In [6]:
gsmean = df[['NA_Sales']].mean()
other = df.loc[:, 'NA_Sales'].std()
other-gsmean

NA_Sales    0.552016
dtype: float64

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [7]:

nintendo_sales = df[df['Publisher'].between('Nintendo', 'Nintendo')].mean()
other_sales = df[df['Publisher'].str.contains('Nintendo') == False].mean()
nintendo_sales.Global_Sales-other_sales.Global_Sales

2.091820172631693

# Come up with 3 more questions that can be answered with this data set.¶

In [8]:
df[['Publisher']].mode().tail()

         Publisher
0  Electronic Arts

# How many games came out in 2010?

In [10]:
number = df[df['Year'].between(2010 , 2010)]
len(number)

1259

# What is the least played genre of video game?

In [11]:
df.sort_values('Genre', ascending = False).head(1)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
11820,11822,Kessen III,PS2,2004.0,Strategy,Tecmo Koei,0.04,0.03,0.0,0.01,0.07